@CHARSET "UTF-8";

body {
	padding-top: 70px;
}

.navbar-brand {
	font-weight: 600;
}

.panel-normal {
	background: #fff;
}

.panel-info {
	background: #fff;
}

.panel-warning {
	background: #5bc0de;
}

.panel-danger {
	background: #d9534f;
}

h1 {
	font-size: 40px;
	font-weight: 900;
}

h1>small {
	font-size: 16px;
}

.well-panel {
	background: #fff;
}

.head {
	display: block;
	padding: .8em .6em;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	color: #ffffff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.head-danger {
	background-color: #d9534f;
}

.head-warning {
	background-color: #f0ad4e;
}

.head-info {
	background-color: #5bc0de;
}

p.count-danger {
	font-size: 220px;
	font-weight: 800;
	color: #d9534f;
}

p.count-warning {
	font-size: 80px;
	font-weight: 800;
	color: #f0ad4e;
}

p.count-info {
	font-size: 80px;
	font-weight: 800;
	color: #5bc0de;
}

p.count-zero {
	color: #333;
}

table {
	font-size: 20px;
	font-weight: 500;
}