@CHARSET "UTF-8";

* {
	font-family: Verdana !important;
}

h1 {
	font-size: 40px;
	font-weight: 900;
}

h1>small {
	font-size: 16px;
}

h3 {
	font-size: 50px;
}

p.count_zero {
	color: #333 !important;
}

p.count_danger {
	font-size: 240px;
	font-weight: 800;
	color: #d9534f;
}

p.count_warning {
	font-size: 120px;
	font-weight: 800;
	color: #f0ad4e;
}

p.count_info {
	font-size: 120px;
	font-weight: 800;
	color: #5bc0de;
}